<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.data.title %></title>
	<meta name="description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta name="author" content="<%= htmlWebpackPlugin.options.data.author %>">
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.data.title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="assets/icons/icon-512x512.png" />
	<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.data.title %>" />
	<meta property="fb:admins" content="<%= htmlWebpackPlugin.options.data.facebookid %>" />
	<meta property="fb:app_id" content="" />
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.data.description %>" />
	
	
	<!-- Google Plus Metadata -->
	<meta itemprop="name" content="<%= htmlWebpackPlugin.options.data.title %>">
	<meta itemprop="description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta itemprop="image" content="assets/icons/icon-512x512.png">
	
	<!-- Twitter Summary Card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@<%= htmlWebpackPlugin.options.data.twittername %>">
	<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.data.title %>">
	<meta name="twitter:description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta name="twitter:creator" content="@<%= htmlWebpackPlugin.options.data.twittername %>">
	<meta name="twitter:image:src" content="assets/icons/icon-512x512.png">
	<meta name="twitter:domain" content="<%= htmlWebpackPlugin.options.data.domain %>">
	
	
    <!-- Optimized mobile viewport -->
	<meta name="viewport" content="width=device-width">
  	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="theme-color" content="<%= htmlWebpackPlugin.options.data.themecolor %>">

	<!-- Add to home screen -->
	<meta name="mobile-web-app-capable" content="yes">
  
	<link rel="apple-touch-icon" href="assets/icons/icon-512x512.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/icons/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/icons/icon-144x144.png">
	<link rel="apple-touch-icon" sizes="512x512" href="assets/icons/icon-512x512.png">

	<!-- PWA Manifest -->
	<link rel="manifest" href="manifest.json">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header">
		<img id="logo" src="assets/images/logo.png"/>
	</div>
    <div class="container content">
		<h1>A bug's eye view from your browser</h1>
		<div class="example">
			<img class="example-a" src="assets/images/example_a.jpg"/>
			<img class="arrow" src="assets/images/arrow-alt-up-solid.svg"/>
			<img class="example-b" src="assets/images/example_b.jpg"/>
		</div>
		<p>Fly Eye uses WebGL to wrap camera input around a 3D sphere.  Streaming video frames are averaged and converted into a spiral map which is used to color the sphere in real-time. The three.js library is used for 3D modelling.</p>
		<div class="links">
			<a id="camstart" href="#" class="button">Try it out</a>
			<a href="https://github.com/mwilber/fly-eye" target="_blank" class="button">Get the code</a>
		</div>
	</div>
	<div class="container fly-eye">
		<a class="close" href="#">+</a>
		<div id="ThreeJS" style=""></div>
		<video id="webcam-video" width="150" height="150" autoplay src="assets/images/1_intro_anim.mp4"></video>
	</div>
</body>
</html>
<template>
		
		<br/>
		<h1><%= htmlWebpackPlugin.options.data.title %></h1>
		<button id="camstart">Choose Camera</button>
		<div id="cambuttons"></div>
		
		<img id="refimg" src="assets/images/landscape.jpeg" height="150"/>
		
	</template>